
{{>partials/header}}

<link rel="stylesheet" href="/css/contato.css">

    <H1>CONTATO</H1>

    LISTA DE CONTATO
    <UL>
        <LI>Pizzaria - +551196326-8299</LI>
        <LI>Casa de Entrenimento - +551198563-4111</LI>
        <LI>Casa da Renatinha - +551196321-4788</LI>

    </UL>
    {{>partials/footer}}
