{{>partials/header}}
    <H1>TOP 5 SABORES DE PIZZA</H1>


    {{#showWelcome}}
    Olá, {{nome}}, seja bem vindo!
    {{/showWelcome}}

    LISTA DE PIZZA
    <UL>
        <LI>Frango com Catupiry</LI>
        <LI>Toscana</LI>
        <LI>8 Queijos</LI>
        <LI>Moda do Pizzaiolo</LI>
        <LI>Queijo Brie c/ geleia de pimenta</LI>
    </UL>  
    {{>partials/footer}}